.home {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sumup {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 10px;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding: 5px;
    font-weight: 200;
  }
}
.contact-me_btn {
  font-size: 2rem;
  border: white 2px solid;
  padding: 1rem 8rem;
  color: white;
  background-color: black;
  border-radius: 50px;
  margin-top: 3rem;
}
